<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Facebook_Suite" thread-count="1" parallel="tests">
	
	<listeners>
		<listener class-name="Extent_Reports.ExtentTestNGReportListener"/>
	</listeners>
  <test  name="ChromeTest" thread-count="1" parallel="classes">
	<parameter name="browser" value="Chrome"/>
    <classes>
      <class name="TestNGPack.VerifyForgotPasswordPage"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Facebook_Suite -->
