<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook_Suite" thread-count="3" parallel="tests">
  <test  name="ChromeTest" thread-count="3" parallel="classes">
	<parameter name="browser" value="Chrome"/>
    <classes>
      <class name="TestNGPack.VerifyForgotPasswordPage"/>
      <class name="TestNGPack.VerifySignupPopUp"/>
      <class name="TestNGPack.VerifyLoginPage"/>
    </classes>
  </test> <!-- Test -->
  
   <test  name="FirefoxTest" thread-count="3" parallel="classes">
	<parameter name="browser" value="Firefox"/>
    <classes>
      <class name="TestNGPack.VerifyForgotPasswordPage"/>
      <class name="TestNGPack.VerifySignupPopUp"/>
      <class name="TestNGPack.VerifyLoginPage"/>
    </classes>
  </test> <!-- Test -->
  
   <test  name="EdgeTest" thread-count="3" parallel="classes">
	<parameter name="browser" value="Edge"/>
    <classes>
      <class name="TestNGPack.VerifyForgotPasswordPage"/>
      <class name="TestNGPack.VerifySignupPopUp"/>
      <class name="TestNGPack.VerifyLoginPage"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Facebook_Suite -->
